@font-face {
  font-family: "F37 Lineca Trial";
  src: url("assets/fonts/F37LinecaTrial-Regular.woff2") format("woff2"),
    url("assets/fonts/F37LinecaTrial-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --black: #000;
  --grey: #b0b0b0;
  --white: #fff;
}

html {
  background-color: var(--black);
  background: conic-gradient(
    from 135deg,
    #000 0deg,
    #171717 300deg,
    #371e57 320deg,
    #103f53 342deg,
    #3b58ef 360deg
  );
  background-attachment: fixed;
  color: var(--grey);
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 320px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "F37 Lineca Trial", sans-serif;
}

strong {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  --d: 160px;
  height: var(--d);
  left: calc(calc(100% - var(--d)) / 2);
  position: fixed;
  top: calc(calc(100% - var(--d)) / 2);
  width: var(--d);
}

.tagline {
  top: calc(50% + 124px);
  left: calc(calc(100% - 418px) / 2);
  position: fixed;
  transform-origin: top center;
  width: 418px;
}

.type {
  width: 216px;
}

.content {
  display: grid;
  font-size: 24px;
  gap: 1.2em;
  line-height: 1.2;
}

.content span {
  white-space: nowrap;
}

.links {
  display: flex;
  font-size: 14px;
  gap: 1em;
  justify-content: flex-end;
}

.links a {
  opacity: 0.15;
  transition-duration: 1s;
  transition-property: opacity;
}

.links a:hover {
  opacity: 1;
}

@media screen and (max-width: 699px) {
  html {
    overflow-y: auto;
  }

  body {
    min-height: 100vh;
    min-height: 100dvh;
    padding: 50px;
    padding-top: calc(50vh + 120px);
  }

  .icon {
    position: absolute;
  }

  .type {
    align-items: center;
    display: flex;
    flex-grow: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(50vh - 80px);
    width: 100%;
    justify-content: center;
  }

  .content {
    align-content: flex-end;
    flex-grow: 1;
    font-size: 24px;
  }

  .links {
    justify-content: center;
    margin-top: 30px;
  }
}

@media screen and (min-width: 700px) {
  .type {
    left: 65%;
    position: fixed;
    top: calc(50% - 15px);
  }

  .content {
    bottom: 100px;
    left: 50px;
    max-width: 26em;
    position: absolute;
  }

  .links {
    padding: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    left: 100px;
  }

  .type {
    left: 75%;
  }
}

@media screen and (min-width: 1400px) {
  .type {
    left: 80%;
  }
}
