/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --blue: #3a80bc;
  --black: #0e0e0f;
  --white: #fff;
}

html {
  background-color: var(--black);
  color: var(--white);
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Rubik", sans-serif;
}

strong {
  font-weight: inherit;
}

.overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.video {
  object-fit: cover;
  height: 113vh;
  right: 0;
  position: fixed;
  bottom: 0;
  width: 113vw;
  max-width: none;
}

.overlay {
  background-color: #848484;
  opacity: 0.1;
}

.tagline {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 300;
  height: 100vh;
  justify-content: center;
  left: 0;
  letter-spacing: 0.04em;
  position: fixed;
  text-align: center;
  top: 0;
  text-transform: uppercase;
  width: 100vw;
}

.tagline strong {
  /*color: var(--blue);*/
}

.logo {
  align-items: center;
  bottom: 10vh;
  display: flex;
  left: 0;
  justify-content: center;
  padding-right: 10px;
  position: fixed;
  width: 100vw;
}

.logo img {
  height: 40.67px;
  width: 248px;
}
